.root {
    position: fixed;
    top: 0;
    right: 0;
    padding: 50px;
    margin: 10px;
    background: white;
    border-radius: 8px;
    border: 2px solid rgb(255, 212, 95);
    z-index: 2;
}

.button {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    top: 0;
    right: 0;
    margin: 10px 10px;
    z-index: 1;
}
