.item {
    display: flex;
    flex-direction: column;
    width: 960px;
    padding-top: 20px;
    margin: 10px 20px 10px 0px;
    border-top: 1px solid rgb(255, 172, 172);
}
.top {
    display: flex;
    justify-content: space-around;
    .title {
        font-size: 18px;
        padding-bottom: 10px;
    }
    .image {
        width: 150px;
    }
}
.bottom {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .quantityButtons {
        margin-right: 20px;
    }
    .quantity {
        padding: 0 10px;
    }
    .price {
        font-size: 20px;
    }
}
