.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .switches {
        margin-left: auto;
        display: flex;
        align-items: center;
        .toggle {
            font-size: 14px;
            margin-left: 30px;
            height: 16px;
        }
    }
}
.catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.loadMoreButton {
    margin-top: 20px;
}
