@import "../../styles/variables";
@import "../../styles/mixin";

.footerTable {
    display: block;
}
.footerList {
    display: none;
}

.total {
    text-align: right;
    font-size: 26px;
    padding: 10px 0px;
    border-bottom: 2px solid $primary-color;
}

@include xs-max {
    .checkSmallItem {
        padding-top: 10px;
        border-bottom: 1px solid $primary-color;
    }
    .checkSmallItemTitle {
        font-weight: 600;
    }
    .total {
        border: none;
    }
    .footerTable {
        display: none;
    }
    .footerList {
        display: block;
    }
}
