@import "../../styles/variables";
@import "../../styles/mixin";

.root {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    background: rgb(240, 246, 252);
    border-bottom: 1px solid rgb(194, 194, 194);
}

.icon {
    height: 30px;
    &:hover {
        cursor: pointer;
    }
}

.item {
    margin: 0px 10px;
    display: flex;
    position: relative;
    cursor: pointer;
    .cartItemsQuantity {
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        padding: 2px;
        background: $primary-color;
        text-align: center;
        font-size: 12px;
    }
}

@include xxs-max {
    .root {
        padding: 5px;
    }
    .item {
        margin: 0px 5px;
    }
}
