@import "../../styles/mixin";

.item {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    margin: 10px 35px 10px 0px;
    border-top: 1px solid var(--border);
}
.top {
    display: flex;
    position: relative;
    .removeItemButton {
        position: absolute;
        right: 15px;
        top: 0;
        cursor: pointer;
    }
    .title {
        font-size: 18px;
        padding-bottom: 10px;
    }
    .imageBox {
        width: 25%;
    }
    .image {
        width: 150px;
    }
    .checkBox {
        padding-bottom: 5px;
    }
}
.bottom {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .quantityButtons {
        margin-right: 20px;
    }
    .quantity {
        text-align: center;
        display: inline-block;
        width: 15px;
        padding: 0 10px;
    }
    .price {
        text-align: right;
        display: inline-block;
        width: 100px;
        font-size: 20px;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    .total {
        display: flex;
        align-items: center;
        :first-child {
            margin-right: 20px;
            font-size: 20px;
        }
    }
}

@include sm-max {
    .topХ .item {
        display: flex;
        flex-direction: column;
    }
    .image {
        margin-right: 20px;
    }
}

@include xs-max {
    .imageBox {
        align-self: center;
    }
    .top {
        flex-direction: column;
        .title {
            margin-top: 15px;
        }
        .imageBox {
            width: auto;
        }
    }
    .item {
        margin: 10px 20px 10px 0px;
    }
}
