@import "../../styles/mixin";
.catalogItem {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 15px 19px;
    border: 1px solid var(--border);
    height: 350px;
    width: 300px;
    &Small {
        padding: 15px 10px;
        width: 230px;
    }
}
.catalogImageBox {
    height: 180px;
    width: 200px;
    margin: 0 auto;
}
.catalogImage {
    width: 100%;
}
.price {
    text-decoration: line-through;
    color: #797878;
    &Sale {
        font-size: 20px;
    }
}
.button {
    margin-top: auto;
}

@include xxs-max {
    .catalogItem {
        width: 100%;
        border: none;
        border-bottom: 1px solid rgb(221, 221, 221);
    }
    .catalogImageBox {
        height: 180px;
        margin: 0 auto;
    }
}
