@import "../../styles/mixin";
.root {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 20px 30px;
    box-shadow: 0 8px 40px rgb(73, 71, 71);
    border-radius: 8px;
    max-height: 80vh;

    .button {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        top: 0;
        right: 0;
        margin: 20px 30px;
        z-index: 1;
    }

    .header {
        text-transform: uppercase;
        font-size: 20px;
        position: relative;
        .closeButton {
            cursor: pointer;
        }
    }
    .body {
        overflow-y: overlay;
        height: auto;
        margin-top: 10px;
        width: 100%;
        overflow-x: hidden;
    }
    .footer {
        margin-top: auto;
        margin-left: auto;
        padding-top: 20px;
    }
}

@include xxs-max {
    .root {
        padding: 20px 15px;
        border-radius: 0;
    }
}
