.button {
    background: var(--button-background);
    border: 1px solid var(--button-border);
    font-size: 16px;
    color: var(--color);
    height: 28px;
    padding: 4px 10px;
    font-weight: 600;
    white-space: nowrap;
    &:hover {
        cursor: pointer;
    }
}
