.button {
    background: white;
    border: 1px solid rgb(0, 0, 0);
    font-size: 16px;
    padding: 4px 10px;
    font-weight: 600;
    white-space: nowrap;
    &:hover {
        cursor: pointer;
    }
}
