.title {
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
}

.catalog {
    margin: 40px auto;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(194, 194, 194);
    padding: 10px;
    justify-content: center;
}
