@import "../../styles/variables";

.table {
    td,
    th {
        border: 1px solid var(--border);
        text-align: left;
        padding: 8px;
    }
    ul {
        padding-inline-start: 20px;
    }
}
