@import "../../styles/mixin";
.root {
    width: 500px;
    overflow-x: hidden;
}

.tooltip {
    margin-top: 15px;
    padding-bottom: 2px;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    &:hover {
        cursor: help;
    }
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 400px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.button {
    margin-top: 10px;
}

@include xs-max {
    .root {
        width: 90vw;
    }
    .tooltip .tooltiptext {
        width: 300px;
    }
}
@include xxs-max {
    .root {
        width: 100vw;
    }
    .tooltip .tooltiptext {
        width: 300px;
    }
}
